@import url("./variables.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  color: var(--text-color);
  background: var(--background);
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

/* p {
  text-wrap: pretty;
} */

span {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}

span svg {
  width: 30px;
  height: 30px;
  color: var(--text-color-blue);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1rem;

  & nav ul {
    display: flex;
    gap: 20px;
    list-style: none;

    & li a {
      color: var(--text-color-light-gray);

      &:hover {
        color: var(--text-color-blue);
      }
    }
  }
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.link-container {
  display: flex;
  gap: 15px;
}

.link-container a {
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 600;
}

.link-container a:nth-child(odd) {
  color: var(--text-color-blue);
  background-color: var(--background-light-blue);
}

.link-container a:nth-child(even) {
  color: var(--text-color);
  background-color: var(--background-gray);
}

.icon-container {
  /* display: flex;
  align-items: center;
  gap: 15px; */
  display: none;
}

.search-icon {
  display: none;
  color: var(--text-color);
}

.icon-container svg {
  width: 20px;
  height: 20px;
  color: var(--text-color);
  cursor: pointer;
}

.menu-button {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
}

.menu-button svg {
  width: 30px;
  height: 30px;
  color: var(--text-color);
}

.hero-container {
  width: 100%;
  max-height: 650px;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: white;
}

.hero-container img {
  width: 100%;
  filter: blur(5px) brightness(60%);
  height: auto;
  display: block;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.hero-text {
  position: absolute;
  width: 100%;
  padding: 0 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.hero-text h1 {
  width: 100%;
  font-size: 5rem;
  font-weight: 700;
  text-wrap: balance;
}

.hero-text p {
  font-size: 1.4rem;
  color: var(--text-color-light-gray);
  text-wrap: pretty;
}

.search-box {
  width: 100%;
  max-width: 700px;
  position: relative;
}

.search-box svg {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: var(--text-color-light-gray);
  pointer-events: none;
}

.search-box input {
  width: 100%;
  padding: 15px 20px 15px 55px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  background: var(--background-light-blue);
  color: var(--text-color);
}

.search-box button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--text-color-blue);
  color: var(--text-color);
  font-weight: 600;
  cursor: pointer;
}

section {
  padding: 0 2rem;
  margin: 4rem 0;
}

.about-devjobs {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about-devjobs h2 {
  font-size: 2rem;
  font-weight: 700;
  text-wrap: balance;
  text-align: center;
}

.about-devjobs p {
  color: var(--text-color-light-gray);
  text-align: center;
  text-wrap: balance;
  font-size: 1.1rem;
  line-height: 1.3;
}

.features-devjobs {
  display: flex;
  flex-wrap: wrap;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
  gap: 1rem;
  width: 100%;
  /* max-width: 1500px; */
  /* margin: 0 auto; */
  justify-content: center;
}

article {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  padding: 1.5rem;
  width: 100%;
  max-width: 400px;
  background: var(--bg-feature-job);
  border-radius: 8px;
}

article .feature-icon-container {
  display: inline-block;
  border-radius: 100%;
  padding: 0.7rem;
  background: var(--background-light-blue);
}

article svg {
  width: 30px;
  height: 30px;
  color: var(--text-color-blue);
}

article h3 {
  font-size: 1.5rem;
  font-weight: 600;
  text-wrap: balance;
}

article p {
  color: var(--text-color-light-gray);
  text-align: center;
  text-wrap: pretty;
  font-size: 1rem;
  line-height: 1.4;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  color: var(--text-color-light-gray);
  border-top: 1px solid var(--background-gray);
}

@media screen and (width <= 900px) {
  .icon-container {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .search-icon {
    display: block;
  }

  .nav,
  .link-container {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .hero-text h1 {
    font-size: 3.5rem;
  }

  .hero-text p {
    font-size: 1.1rem;
  }

  .search-box {
    max-width: 600px;
  }
}
@media screen and (width <= 640px) {
  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 0.9rem;
  }

  .search-box {
    display: none;
  }

  .about-devjobs p {
    font-size: 0.9rem;
  }
}
