* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: #fff8e1;
  color: #333;
  line-height: 1.6;
}

a {
	text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
	align-items: center;
	padding: 16px 0;
	height: 70px;

	& nav ul {
		display: flex;
		gap: 16px;
		list-style: none;
	}
}

header,
main {
  max-width: 800px;
  margin: 0 auto;
}
p {
  padding: 16px 0;
}

svg {
	width: 24px;
	height: 24px;
}

.menu-icon {
	display: none;
}

ul,
ol {
  padding: 0 24px;
}

h3,
h2 {
  padding-bottom: 16px;
}

@media screen and (width <= 850px) {
  .header {
		padding: 8px 16px;
	}
	
	main {
		padding: 0 16px;
	}
}

@media screen and (width <= 620px) {
	.nav {
		display: none;
	}

	.menu-icon {
		display: flex;
		align-items: center;
	}
}
