:root {
  --background: #101922;
  --text-color: #ffffff;
  --text-color-light-gray: #a9b3bf;
  --text-color-blue: #1073d4;
  --background-light-blue: #0f2b45;
  --background-gray: #334155;
  --bg-feature-job: #1f293b;
	--border-color: #1F2831;
	--bg-form: #111C26;
}
